# Add account credentials and API keys here.
# See http://railsapps.github.io/rails-environment-variables.html
# This file should be listed in .gitignore to keep your settings secret!
# Each entry sets a local environment variable and overrides ENV variables in the Unix shell.
# For example, setting:
# GMAIL_USERNAME: Your_Gmail_Username
# makes 'Your_Gmail_Username' available as ENV["GMAIL_USERNAME"]

# From http://support.orcid.org/knowledgebase/articles/162412-tutorial-create-a-new-profile-using-curl
ORCID_APP_ID: 0000-0000-0000-0000
ORCID_APP_SECRET: XXXXXXXX-XXXX-XXXX-XXXX-XXXXXXXXXXXX

ORCID_CLAIMED_PROFILE_ID: 0000-0000-0000-0000
ORCID_CLAIMED_PROFILE_PASSWORD: password1A
ORCID_CLAIMED_PROFILE_EMAIL: cwksfxyqkmrudrfrdxvlzjxl@mailinator.com