<div class='orcid-connector'>
	<%= link_to "Disconnect from Orcid", orcid.disconnect_path, class: 'btn btn-primary', data: { confirm: "Are you sure you want to disconnect your orcid? (You can re-connect later)"} %>
</div> 