<% defined?(status_processor) || status_processor = Orcid::ProfileStatus.method(:for) %>
<div class='orcid-connector'>
  <h3><i class="icon-user"></i> <%= link_to t('orcid.verbose_name'), Orcid.provider.host_url, target: :_blank%></h3>
  <% status_processor.call(current_user) do |on|%>
    <% on.authenticated_connection do |profile| %>
      <%= render partial: 'orcid/profile_connections/authenticated_connection', object: profile %>
    <% end %>
    <% on.pending_connection do |profile| %>
      <%= render partial: 'orcid/profile_connections/pending_connection', object: profile %>
    <% end %>
    <% on.unknown do %>
      <% defined?(default_search_text) || default_search_text = '' %>
      <%= render template: 'orcid/profile_connections/_options_to_connect_orcid_profile', locals: { default_search_text: default_search_text } %>
    <% end %>
  <% end %>
</div>
