<div class='orcid-connector'>
	<%= link_to "Disconnect from ORCID record", orcid.disconnect_path, class: 'btn btn-primary', data: { confirm: "Are you sure you want to disconnect your ORCID record? (You can re-connect later)"} %>
</div> 