<div class="profile-request-pending">
  <p>We are processing your ORCID Profile Request. It was submitted
    <time datetime="<%= profile_request_pending.created_at.in_time_zone %>"><%= time_ago_in_words(profile_request_pending.created_at) %></time> ago.
  </p>
</div>